@import url('https://fonts.googleapis.com/css?family=Armata');

.App {
  font-family: 'Armata', serif;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 62px 1fr;
  grid-template-areas: 
  "header header"
  "sidebar main";
}

.main-wrapper {
  grid-area: main;
  position: relative;
}

.main {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-tests {
  grid-area: sidebar;
}

.header {
  grid-area: header;
  background: rgb(225, 225, 225);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px;
  color: #393939;
  border-bottom: rgb(197, 197, 197) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.22) 0 -13px 10px 10px;

}

.logo {
  width: 36px;
  height: 36px;
  margin-right: 16px;
  background-color: #393939;
}

