.App {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header"
  "sidebar content"
  "footer footer";
}

.content {
  grid-area: content;
}

.nav-tests {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

