@import url('https://fonts.googleapis.com/css?family=Montserrat');

* { box-sizing: border-box }

.App {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
  "header header"
  "sidebar main";
}

.mainWrapper {
  grid-area: main;
  position: relative;
}

.main {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.navTests {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}
