.root {
	height: 100%;
	background: #F6F6F6;
}

.result {
  margin: 12px;
  cursor: pointer;
}


.result.failed {
  color: red;
}

.header {
  height: 60px;
  padding: 10px;
  padding-left: 20px;
  background: #D3D3D3;
  color: #4F4F4F;
}

