.root {
  font-size: 14px;
  height: 100%;
  background: #F6F6F6;

  display: flex;
  flex-direction: column;
}

.mainWrapper {
  flex: 1;
}

.header {
  height: 60px;
  padding: 10px;
  padding-left: 20px;
  background: #D3D3D3;
  color: #4F4F4F;

  .title {
    font-size: 18px;
  }

  .branch {
    opacity: 0.7;
  }
}


