.imageCompare {
  display: flex;
  height: 100%;
  background: grey;
  padding: 8px;
}

.image.diff {
  mix-blend-mode: difference;
}

.imageWrapper {
  flex: 1;
  position: relative;
  margin: 6px;
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
   background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
