.imageCompare {
  display: flex;
  height: 100%;
  background: grey;
}


.imageSplit {
  flex: 1;
	position: relative;
	overflow: hidden;
}

.smoothTransform {
	transition: 0.3s ease transform;
}

.imageWrapper {
  position: absolute;
  left: 0;
  top: 0;
}

.image{
  user-drag: none; 
  user-select: none;
  pointer-events: none;
}

.image.diff {
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: difference;
}
