.root {
  height: 100%;
  text-align: left;
  list-style-type: none;
  font-family: monospace;
  margin: 0px;
  padding: 0;

  background: rgb(57, 57, 57);
  color: white;
  border-right: 1px solid black;
}

.result {
  padding: 6px;
  cursor: pointer;
}

.result.passed {
  border-left: 4px solid #297d29;
  background-color: rgba(0, 144, 0, 0.2);
}

.result.passed.active {
  background-color: #297d29;
}

.result.failed {
  border-left: 4px solid #a02525;;
  background-color: rgba(255, 0, 0, 0.2);
}

.result.failed.active {
  background-color: #a02525;;
}

.time {
  margin: 0;
}

.id {
  margin: 0;
}

